---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <id>{{ site.url }}/</id>
  {%- set newest = collections.posts | first %}
  <updated>{{ newest.date | isoDate }}</updated>
  <author>
    <name>{{ site.author.name }}</name>
    <uri>{{ site.author.url }}</uri>
  </author>
  {%- for post in collections.posts %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ post.url | absoluteUrl(site.url) }}"/>
    <id>{{ post.url | absoluteUrl(site.url) }}</id>
    <published>{{ post.date | isoDate }}</published>
    <updated>{{ post.date | isoDate }}</updated>
    <summary>{{ post.data.description }}</summary>
    <content type="html">{{ post.templateContent }}</content>
  </entry>
  {%- endfor %}
</feed>
